{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <body class="bg-gray-100">
        <div class="container mx-auto py-8">
            <h1 class="text-4xl text-center mb-8">Contact Details</h1>
            
            <div class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-lg">
                <div class="mb-4">
                    <p class="font-bold">Name:</p>
                    <p>Sajal Agarwal</p>
                </div>
                
                <div class="mb-4">
                    <p class="font-bold">Email:</p>
                    <p>sajal.agarwal@iitg.ac.in</p>
                </div>
                
                <div class="mb-4">
                    <p class="font-bold">Phone:</p>
                    <p>+91-0987654321</p>
                </div>
                
                <div class="mb-4">
                    <p class="font-bold">Address:</p>
                    <p>123 Street, City, State, ZIP</p>
                </div>
            </div>
        </div>
    </body>
{% endblock %}